<div class="container">
  <div class="row">
    <div class="col">
      レビュー
    </div>
    新規投稿
    <%= link_to "レビューを投稿する", new_post_review_path %>
    <%= link_to "商品を投稿する", new_post_item_path %>
  </div>
</div>