<div class="container">
  <div class="row">
    <div class="col">
      <h5>トップページ</h5>
      <%= link_to "商品を投稿する", new_post_item_path, class: "btn btn-primary" %>
      <%= link_to "商品を探してレビューする", post_items_path, class: "btn btn-primary" %>
    </div>

    <%= render 'public/post_items/search' %>
  </div>
</div>