<div class="col-md-3">
  <%= form_tag search_post_items_path, method: :get, class: "form-inline" do %>
    <div>
      <p style="margin-bottom: 5px;">都道府県から探す</p>
      <%= select_tag :prefecture, options_for_select(PostItem::PREFECTURES), include_blank: true, class: "form-control mr-sm-2", style: "margin-bottom: 10px;" %>
    </div>
    <div>
      <p style="margin-bottom: 5px;">ジャンルから探す</p>
      <%= select_tag :genre_id, options_for_select(Genre.all.map{ |genre| [genre.genre_name, genre.id] }), include_blank: true, class: "form-control mr-sm-2", style: "margin-bottom: 10px;" %>
    </div>
    <%= submit_tag "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</div>